# Build artifacts
*.xo
*.ltx
*.link_summary
*.compile_summary
*.xclbin.info
_x/
.Xil/
.ipcache/
.run/
*.log
*.pb
emconfig.json
# Host binaries
host_sw_emu
host_hw_emu
host_hw
host_opt_hw_emu
host_sram_hw
# Large binary outputs
*.xclbin
*.run_summary
native_trace.csv
summary.csv
