# SW emulation: HT = 2^22 = 4 M entries = 64 MB → fits in one HBM[2] PC (256 MB)
[connectivity]
nk=kmer_count:1:kmer_count_1
sp=kmer_count_1.seq1:HBM[0]
sp=kmer_count_1.seq2:HBM[1]
sp=kmer_count_1.ht:HBM[2]
sp=kmer_count_1.n_unique:HBM[3]
