# HW_EMU target: 1 CU, small URAM table (HT_BITS=14, T_SIZE=8192)
[connectivity]
nk=kmer_count_sram:1

sp=kmer_count_sram_1.kmers:HBM[0]
sp=kmer_count_sram_1.seg_ends:HBM[0]
sp=kmer_count_sram_1.n_unique:HBM[0]
